.score-board {
  width: 320px;
  display: grid;
  grid-auto-flow: column;
  margin: 5px 0 0 0;
}
.score-board div {
  color: #fff;
  text-align: center;
  font-size: 2em;
  padding: 5px;
  font-weight: bold;
  background-color: #4392f1;
}
.score-board div:first-child {
  background-color: #cd493a;
}
